html
    head
        title= "Administration"
        link(rel='stylesheet', href='/stylesheets/admin.css')
        script(src="/javascripts/admin.js") 
        
    body
        div.admin-container
            block content