extends adminLayout 

block content
    div.main-dash
        div.dash-actions
            div.dash-tools
                a(href="/admin/editor/articles") Post Editor 
                a(href="/admin/editor/users") User Editor 
                a(href="/admin/editor/comments") Comments Editor 
        div.dash-body
        div.dash-footer