extends adminLayout 

block content
    div.dash-title
        h2 Admin Dashboard
    div.main-dash
        div.dash-actions
            div.dash-tools
                a(href="/admin/editor/articles") Post Editor 
                a(href="/admin/editor/users") User Editor 
                a(href="/admin/editor/comments") Comments Editor 
                a(href="/admin/editor/contacts") Contacts
                a(href="/admin/editor/configs") Configuration
        div.dash-body
            div.dash-data
                p Number of Articles: #{stats.articlesNumber.count}
                p Number of Comments: #{stats.commentsNumber.count}
                p Number of Contacts: #{stats.contactsNumber.count}
        div.dash-footer