extends adminLayout 

block content
    div.main-dash
        div.dash-actions
            div.dash-tools
                a(href="/admin/editor") Post Editor 
                a(href="") User Editor 
        div.dash-body
        div.dash-footer