extends adminLayout 

block content
    div.login-data
        button(class="loggof-button", onclick="logoff()") logoff
    div.dash-title
        h2 Admin Dashboard
    div.main-dash
        div.dash-actions
            div.dash-tools
                a(href="/admin/editor/articles") Articles Editor 
                a(href="/admin/editor/users") User Editor 
                a(href="/admin/editor/comments") Comments Editor 
                a(href="/admin/editor/contacts") Contacts
                a(href="/admin/editor/configs") Configuration
        div.dash-body
            div.dash-data
                table 
                    tr
                        td Number of Articles:
                        td #{stats.articlesNumber.count}
                    tr
                        td Number of Comments:
                        td #{stats.commentsNumber.count}
                    tr
                        td Number of Contacts:
                        td #{stats.contactsNumber.count}

                
        div.dash-footer