html
    head
        title= "ERRO"
        link(rel='stylesheet', href='/stylesheets/errorstyle.css')
    body

    
        h1= message
        p page not found
        h2= error.status
        pre #{error.stack}
