.admin-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}


/*
####################  LOGIN ####################
*/
.login-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(228, 228, 228);
}
.login-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 400px;
    width: 300px;
    padding: 0 40px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    background-color: rgb(241, 241, 241);
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 63%);
}

.login-header {
    text-align: center;
}
.login-body {
    height: 50%;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.login-form input {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 3px;
}
.login-form label {
    
    margin-bottom: 5px;
}
.login-message {
    height: 40px;
    text-align: center;
    color: rgb(230, 32, 32);
}

.login-form {
    max-width: 400px;
}


/*
####################  DASHBARD  ####################
*/

.login-data {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}
.loggof-button {
    border:none;
    background-color: transparent;
    border-radius: 5px;
}
.loggof-button:hover {
    background-color: cornsilk;
    color: rgb(58, 50, 50);
}

    /*
    ####################  TOOLS  ###################
    */

.dash-tools {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.dash-tools a {
    border: 1px solid rgba(0, 0, 0, 0.486);
    background-color: whitesmoke;
    color: rgb(36, 36, 35);
    border-radius: 10px;
    padding: 20px 0 ;
    margin: 10px ;
    text-decoration: none;
    width: 130px;
    -height: 20px;
    text-align: center;
    box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 63%);
    
}
.dash-tools a:active{
    border: 1px solid rgba(0, 0, 0, 0.486);
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px 0 ;
    margin: 10px ;
    text-decoration: none;
    width: 130px;
    -height: 20px;
    text-align: center;
    box-shadow: 0
    
}

