body {
    background: #e5e5e5;
}


/*
//  ======================= HEADER =======================
*/

.header-container {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    background-color: rgb(184, 184, 184);
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(10, 10, 10, 0.425);
}


/*
//  ======================= TITLE =======================
*/

.editor-title-container {
    text-align: center;
    padding: 10px 0;
}

.editor-title-container h1 {
    margin: 0;
}



/*
//  ======================= TOOLS =======================
*/

.tool-buttons {
    padding-left: 10px;
}

.tool-buttons button {

    margin-right: 10px;
    height: 30px;
    width: 80px;
}



/*
//  ======================= POST LIST =======================
*/

ol.post-list {
    list-style-type: none;
    padding: 0px 30px 0 5px;
}

li.post-item:hover {
    background-color: rgb(168, 168, 168);
    
}


.post-list-container {
    padding: 10px;
}


/*
//  ======================= DATA EDITOR =======================
*/

.data-container {
    display: flex;
    background-color: rgb(218, 216, 218);
    margin-top: 80px;
}
.data-field {
    width: 100%;
    border: 1px solid rgb(68, 66, 66, 0.5 );
    margin-bottom: 5px;
}
.input-field[type=text] {
    width: 100%;
}

.write-data-container{
    width: 100%;
    border: 1px solid rgb(199, 199, 199);
    padding: 10px;
}

textarea.input-field {
    height: 400px;
    width: 100%;
    
}
.textarea-preview {
    display: none;
    height: 400px;
    width: 100%;
    background-color: white;
}

li.selected {
    background-color: rgb(143, 142, 142);
}



/*
//  ======================= STATUS BAR =======================
*/

.status-container {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid black;
    background-color: rgb(253, 253, 253);
    width: 100%;

}



/*
//  ======================= CONFIRM OPERATION =======================
*/

.confirm-container {
    position: fixed;
    
    left: 0;
    top: 0;
    display: none;
}
.confirm-container-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    width: 100vw;
    height: 100vh;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(49, 49, 48, 0.267);
}
.confirm-content {
    width: 300px;
    height: 200px;
    background-color: rgb(112, 112, 112);
    border: 2px solid rgb(43, 41, 41);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 0;
}
.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.buttons-container button {
    border-radius: 10px;
    width: 80px;
    height: 50px;
}
