html {
    overflow-y: scroll;
  }

body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;


    height: 100%;

    padding: 0;

    margin: 0;

    background-color: #f7f7f7;
  
}

/*
*
*       ============  HEAD  ==============
*
*/


.sticky-master-head {
    position: fixed;
    
    width: 100%;
  }

.master-head {
    text-align: center;
    background-color: #7e7e7e;
    -background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../images/flag-black.jpg");
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header-wrapper {
    padding: 20px 40px 10px;
    justify-content:space-between;

    display: flex;
    align-items: center;
}
    .header-wrapper img {
        height: 100px;
        width: auto;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
    }
.site-branding-text {
    height: 100%;
}
.site-title a{
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Times,"Times New Roman",serif;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    word-wrap: break-word;
    text-decoration:solid;
    color: rgb(43,43,43);
}

.site-description {
    font-style: italic;
    line-height: 2;
    margin: 0;
}

.___master-head::after {
  background: url("../images/flag.jpg");
  content: "";
  
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  
}


/*      ---------------menu-----------------
*/

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height:max-content;
    position: relative;
}

.menu-button {
    display: none;
    padding: 9px 18px;
}

.main-navigation{

}

.main-navigation ul {
    
    text-align: center;
    padding-inline-start: 0;
    margin: 5px;
    display: flex;
    flex-wrap:wrap;
}
.main-navigation a {
    border-radius: 5px;
    color: #222;
    display: block;
    font-size: 13px;
    
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    padding: 9px 15px;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;

    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

  
    li {
    display: inline-block;
    
    

    }
.menu-item {

  
}
.menu-item:hover {
  background-color: #bd3434;
  color: rgb(241, 241, 234);
 
}


/*
*
*       ============  BODY  ==============
*
*/


.master-body {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    -align-items: center;

}

.post-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.post-stats {
    padding-top: 10px;
    padding-left: 5px;
    width: 40px;
    color: rgba(24, 24, 24, 0.568);
}


.like-stats img:hover{
    -box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    
    
    filter: invert(0%);
}
    .post-stats div {
        display: flex;
        align-items: center;
    }
.stat-ico {
    width: 18px;
    filter: invert(50%);
}
    
    .post-stats span {
        padding: 5px;
    }

.stat-liked {
    filter: invert(0%);
    
}    

.post-body {

    margin: auto;
    max-width: 900px;
    font-size: 16px;
    padding: 0 50px;
    font: 400 1.1rem Roboto,Arial,Helvetica,Sans-serif;
    color: #2c2c2c;
    letter-spacing: -0.47px;
    line-height: 1.7;
    
}
    .post-body p {
        margin-bottom: 10px;
        
    }
    .post-body h1 {
        text-align: center;
    }
    .post-body h2 {
        margin-left: 20px;
    }
    .post-body h3 {
        margin-left: 20px;
    }

.tree-content {
    
    height: 100%;
    flex-grow: 1;
    position: relative;
    
}

.contact-return{
    text-align: center;
}


.comments-area {
    background: #f1f1f1;
    background: #e5e5e5;
    border-top: 1px solid #ddd;
    overflow: hidden;
}


/*
*
*       ============  FOOTER  ==============
*
*/
.master-footer {
    background-color: #7e7e7e;
    display: block;
    flex-direction: column;
    
    
    justify-content: space-between;
    
    
}
.master-footer a{
    color: #222;
    
    font-weight: 600;
    
    text-decoration: none;
}
.footer-content {
    margin:auto;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
    .footer-content div {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
    }
    .footer-content ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

.footer-lower {
    text-align: center;
    background-color: #444444;
    color: #a1a1a1;
    padding: 5px;
}
.footer-lower a{
    
    color: #a1a1a1;
}
/* ------- go top button ------------*/

#goTopButton {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #goTopButton::after {
    content: "^";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 4em;
    line-height: 64px;
    color: #fff;
  }
  #goTopButton:hover {
    cursor: pointer;
    background-color: #333;
  }
  #goTopButton:active {
    background-color: #555;
  }
  #goTopButton.show {
    opacity: 1;
    visibility: visible;
  }


/*
*
*   =============== RESPONSIVE BEHAVIOR =============
*
*/

@media screen and (min-width: 700px) {
    .main-navigation {
        display: block;
    }
}

 /* Responsive layout detect a tipical min resolution for mobiles */
 @media (min-resolution: 300dpi) {/*must be 300*/
    
    
    /* TITLE */
    .site-title{
        font-size: 90px;
    }
    .header-wrapper img {
        height: 150px;
        width: auto;
       
    }
    
    .right-header-img {
        display: none;
        
    }
    .site-description {
        margin-top: 10px;
        line-height: 1;
        
        font-size: 40px;
    }

    /* MENU */

    @-webkit-keyframes fadeIn {
        from { left: -600px; }
          to { left: 0; }
    }
    @keyframes fadeIn {
        from { left: -600px; }
          to { left: 0; }
    }
    @-webkit-keyframes fadeOut {
        from { left: 0px; }
          to { left: -600px; }
    }
    @keyframes fadeOut {
        from { left: 0px; }
          to { left: -600px; }
    }

    .main-navigation {
        -display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left:0;
        
        background-color: #e0e0e0;
        z-index: 2;
        
        border-radius: 10px;
        border: 1px solid black;

        -webkit-animation: fadeOut 0.5s;
        animation: fadeOut 0.5s;
        visibility: hidden;
        opacity: 0;
        
    }

    ul{
        
    }
        
    
    .main-navigation ul{
        margin-top: 100px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
        border-bottom-right-radius: 10px;
        background-color: rgb(146 146 145 / 98%);

    }
    .main-navigation a {
        font-size: 50px;
        padding: 40px;
    }
    .main-navigation>div{
        
    }
    .menu-open {
        -display: block;
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
        
        visibility: visible;
        opacity: 1; 
    }
    .menu-close {
        -webkit-animation: fadeOut 0.5s;
        animation: fadeOut 0.5s;
        visibility: hidden;
        opacity: 0;
    }
    .main-navigation ul{
        
        flex-direction: column;
        
    }
    .menu-wrapper{
        
        justify-content: flex-start;
        
    }
    .menu-button {
        
        display: block;
        font-size: 50px;
        font-weight: 600;
        padding: 20px;
        z-index: 3;
        
    }
    button.menu-open{
        border-top: 1px solid;
        border-right: 0;
        border-bottom: 2px solid transparent ;

    }
    /* BODY */
    .post-body {

        font-size: 35px;
        
        max-width: 1000px;
        padding:20px;
    }
    .post-body img{
        max-width: 100%;
    }

    /* FOOTER */

    .master-footer{
        font-size: 30px;
    }


/* ------- go top button ------------*/

#goTopButton {
    
    width: 100px;
    height: 100px;
    
    border-radius: 4px;
 
    bottom: 30px;
    right: 30px;
  
  }
  #goTopButton::after {
    font-size: 8em;
    line-height: 130px;
    font-weight: bolder;
    color: #fff;
  }

  

}
